
:root {
  --primary-color: rgb(87, 232, 26);;
  --secondary-color: rgb(17, 24, 39);
  --danger-color: #ff0000;
}

$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);

$errorColor: var(--danger-color);
$errorInputBgColor: rgba(252, 220, 220, 0.54);

$successColor: $primaryColor;
$successInputBgColor: rgba(212, 246, 197, 0.54);

.text-green {
  color: $primaryColor;
}

.bg-green {
  background-color: $primaryColor;
}

.bg-primary {
  background-color: $primaryColor;
}

.text-secondary {
  color: $secondaryColor;
}

.bg-secondary {
  background-color: $secondaryColor;
}