
.input-error {
  border: 3px solid $errorColor;
  background-color: $errorInputBgColor;
}

.input-success {
  border: 3px solid $successColor;
  background-color: $successInputBgColor;
}

.input-disabled {
  background-color: #9ca3af;
  color: #fff;
}

.error { color: $errorColor; }

.bg-error { background-color: $errorColor; }

.success { color: $successColor; }